/.venv
/.vscode
/book_practise.ipynb
/catboost_info
/catygorii_Salary_DS.ipynb
/datasets
/dz_14.ipynb
/portfolio_family_income.ipynb
/portfolio_two_tariffs.ipynb
/pydata-book-3rd-edition
/sql_primer.pdf
/stepik_2.ipynb
/stepik_3.ipynb
/stepik_4.ipynb
/strepik_1.ipynb
/yapr_03_.ipynb
/Брюс П., Брюс Э., Гедек П. - Практическая статистика для специалистов Data Science. 2-е издание - 2021.pdf